@mixin keyframes($animationName, $arg1, $arg2, $arg3) {
  @keyframes #{$animationName} {
    0% {
      transform: translate3d(#{$arg1}, #{$arg2}, #{$arg3});
    }

    100% {
      transform: none;
    }
  }
}

.fadeInLeft {
  @include keyframes(fadeInLeftAnime, -50%, 0, 0);
  animation-name: fadeInLeftAnime;
  animation-duration: 1.5s;
}

.fadeInRight {
  @include keyframes(fadeInRightAnime, 50%, 0, 0);
  animation-name: fadeInRightAnime;
  animation-duration: 1.5s;
}

.fadeInTop {
  @include keyframes(fadeInTopAnime, 0, -50%, 0);
  animation-name: fadeInTopAnime;
  animation-duration: 1s;
}

.fadeInBottom {
  @include keyframes(fadeInBottomAnime, 0, 50%, 0);
  animation-name: fadeInBottomAnime;
  animation-duration: 1s;
}

@keyframes pitch {
  0% {
    transform: translate3d(0, -100%, 0);
  }

  50% {
    transform: translate3d(0, 50%, 0);
  }

  100% {
    transform: none;
  }
}

.pichEffect {
  animation-name: pitch;
  animation-duration: 1.5s;
}
