#services {
  background: #f0f0f0;
  padding: 60px 0;
  .section-title {
    font-size: 38px;
    font-weight: 700;
    font-family: source sans pro, sans-serif;
    color: #252525;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 48px;
    padding: 0 10px;
    position: relative;
  }
  .card-container {
    display: flex;
    .card-section {
      padding-top: 15px;
      padding-left: 15px;

      .card {
        background: #fff;
        border-radius: 4px;
        padding: 48px 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        transition: all 0.3s ease-in-out 0s;

        .card-icon {
          margin-bottom: 15px;
          text-align: center;
          width: 48px;
          display: block;
          margin: 0 auto;
          color: #00b4d9;
          svg {
            font-size: 5em;
            margin-left: -15px;
          }
          i {
            font-size: 5.3em;
          }
          .icon-layers:before {
            content: "\e034";
          }
        }

        .card-content {
          h3 {
            font-size: 15px;
            text-transform: uppercase;
            margin-bottom: 3px;
          }
        }
      }
    }
  }

  .card:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  }

  .hidden {
    opacity: 0;
    transform: scaleX(0);
    transition: 1s;
    width: 0;
  }

  .active {
    opacity: 1;
    transform: scaleX(1);
    transition: 1s;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 5));
    }
  }
  .slider {
    margin: auto;
    overflow: hidden;
    position: relative;
  }
  .slider .slide-track {
    width: calc(250px * 10);
  }

  .slide-track:hover {
    animation-play-state: paused;
  }
  .animateCarousal {
    animation: scroll 20s linear infinite;
  }
  .slider .slide {
    width: 250px;
  }
}
