#about {
  padding: 60px 0;
  background: url("/assets/images/background.png");
  background-attachment: fixed;
  .container {
    display: flex;
    flex-direction: row;
    .profile-pic {
      flex: 0 0 45%;
      justify-content: center;
      img {
        width: 80%;
        border: 8px solid #fff;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      }
    }
    .profile-wrapper {
      flex: 0 0 50%;

      h3 {
        font-size: 38px;
        font-weight: 700;
        font-family: source sans pro, sans-serif;
        line-height: 1.2;
        color: inherit;
        margin-bottom: 0.5rem;
        margin-top: 0;
      }

      .about-profile {
        position: relative;
        margin: 20px 0;
        font-size: 14px;

        ul {
          list-style: outside none none;
          margin: 0;
          padding: 0;
          li {
            line-height: 28px;
          }
        }

        .pro-title {
          font-weight: 700;
          color: #040404;
          position: relative;
          width: 120px;
          display: inline-block;
          margin-bottom: 5px;
        }

        .pro-title:after {
          position: absolute;
          content: ":";
          color: #040404;
          font-size: 14px;
          left: 85px;
        }
      }

      .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
      }
      .btn-danger:hover {
        background-color: #f55262;
        border-color: #f55262;
        box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
