#feedback {
    background:var(--evenbackgroundImg);;
    background-attachment: fixed;
    padding: 30px 0;
    padding-bottom: 0;
    .container{
      padding-bottom: 50px;
      .section-title {
        color: var(--serviceTitleColor);
        font-size: 38px;
        text-align: center;
        letter-spacing: 1px;
        line-height: 1;
        padding: 0 10px;
        position: relative;
      }
      .feedbackContainer{
        display: flex;
        flex-direction: row;
        .thanks{
          height: 580px;
          width: 34.5%;
          background: black;
          position: absolute;
          z-index: 100;
          opacity: 0.8;
          transition: all 0.5s linear;
          border-radius: 10px;
          .message{
            position: absolute;
            color: #fff;
            z-index: 101;
            font-size: 20px;
            top: 45%;
            left: 80px;
          }
        }
        .feedbackForm{
          width: 40%;
          margin-right: 20px;
          padding: 0 30px;
          box-shadow: var(--contactBoxShadow);
          background: var(--contackbckgroundColor);
          border-radius: 10px;
          
          p{
            margin-top: 10px;
            font-size: 11px;
            text-align: inherit;
          }
          .form-control-panel{
            margin-top: 25px;
            display: flex;
            flex-direction: row;
            input{
              border: none;
              border-bottom: 1px solid #e1e1e1;
              width: 100%;
              height: 30px;
            }
            textarea{
              min-height: 75px;
              width: 100%;
            }
            .rate{
              flex: auto;
              input{
                display: none;
              }
              label{
                font-size: 25px;
              }
              label:hover {
                color: orange;
              }
              label:before{
                content: '★ '
              }
              input:checked ~ label{
                  color: orange;
              }
              :not(:checked) > input {
                position:absolute;            
             }
              // target input
              // shade all inputs before target when hover on target
              // shade all labels before hover
              // share input right next to target
              input:checked + label:hover,
              input:checked + label:hover ~ label,
              input:checked ~ label:hover ~label,
              input:checked ~ label:hover
              {
                color:green;
              }

            }
            .rate:not(:checked) > label:hover,
            .rate:not(:checked) > label:hover ~ label {
                color: #deb217;  
            }
            .rate:not(:checked) > label {
              float:right;
              width:1em;
              overflow:hidden;
              white-space:nowrap;
              cursor:pointer;
              font-size:30px;
              color:#ccc;
            }
          }
          .mt-15{
            margin-top:15px !important;
          }
          .bold{
            font-weight: bold;
          }
          .ml-20{
            margin-left: 20px;
          }
        }
        .feedbackList{
          border-radius: 10px;
          width: 70%;
          box-shadow: var(--contactBoxShadow);
          background: var(--contackbckgroundColor);
          position: relative;
          .feedbackPanel{
            padding: 0 20px;
            height: 520px;
            overflow-y: auto;
            .feedback{
              position: relative;
              background: var(--resumeContextbackgroundcolor);
              border-radius: 10px;
              margin-top: 20px;
              .owner{
                font-weight: bold;
                font-size: 12px;
                color: black;
                padding-left: 10px;
              }
              .feedbacktext{
                padding-left: 20px;
                font-size: 14px;
                font-weight: bold;
                font-style: italic;
              }
              .header{
                font-size: 12px;
                margin-left: 10px;
                font-weight: bold;
              }
              .rating{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-bottom: 10px;
                margin-top: 15px;
                .rate{
                  margin-left: 5px;
                  font-size: 11px;
                  label:before{
                    content: '★ '
                  }
                }
                .portfolio_heaader{
                  display: flex;
                  align-items: normal;
                  
                }
                .skillrating{
                  display: flex;
                  padding-bottom: 10px;
                  .skillholder{
                    display: flex;
                    margin-left: 5px;
                    .ml-10{
                      margin-left: 10px;
                    }
                    .form-control-panel{
                      display: flex;
                      flex-direction: row;
                      font-size: 11px;
                      
                    }
                  }
                }
              }
              .suggestion{
                width: 100px;
                height: 26px;
                position: absolute;
                bottom: -13px;
                right: 20px;
                display: flex;
                flex-direction: row;
                .iconholder{
                  width: 50%;
                  background: white;
                  display: flex;
                  justify-content: center;
                  border-radius: 50%;
                  margin-left: 10px;
                  i{
                    margin-right: 5px;
                    padding-top: 5px;
                  }
                  .likeicon,.umlikeicon{
                    width: 10px;
                    height: 100%;
                    background: blue;
                    float: left;
                  }
                }
              }
            }
          }
          .feedbackFooter{
            position: absolute;
            width: 100%;
            background: black;
            height: 45px;
            border-radius: 0 0 10px 10px;
            display: flex;
            justify-content: center;
            bottom: 0px;
            opacity: 0.5;
            .ftrbtn{
              height: 35px;
              padding: 10px;
              width: 95px;
              line-height: 0;
              margin: 5px 15px 0px 0;
            }
          }
        }
      }
    }
}

/** For mobile **/
@media only screen and (max-width: 768px) {
  .feedbackContainer{
    flex-direction: column !important;
    .feedbackForm{
      width: 98% !important;
      margin-right: 0 !important;
      padding: 9px !important;

    }
    .feedbackList{
      width: 100% !important;
      padding:0px !important;
      .skillrating{
        flex-direction: column !important;
        .skillholder{
          margin-left: 2px !important;
        }
      }
    }
  }
}


.none{
  opacity: 0;
  display: none;
  transition: all 0.5s linear;
}

.active{
  color:orange;
}


  