#work {
  background: var(--oddbackgroundImg);
  background-attachment: fixed;
  padding: 60px 0;
  padding-bottom: 0;
  padding-top: 70px;
  .section-title {
    color: var(--serviceTitleColor);
    font-size: 38px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1;
    padding: 0 10px;
    position: relative;
  }
  #work-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .work-item {
      position: relative;
      margin: 1%;
      .card-holder {
        width: 290px;
        height: 340px;
        margin: 1%;
        .card-content {
          height: 100%;
          transition: transform 0.5s;
          transform-style: preserve-3d;
          .card-front {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            border-radius: 15px;
            backface-visibility: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            .header{
              height: 30%;
              background: #0066B3;
              border-radius: 15px 15px 0 0;
            }
            .logo{
              position: absolute;
              width: 100px;
              height: 100px;
              background: white;
              border-radius: 50%;
              top: 10%;
              left: 30%;
              padding: 5px;
              .fforwardlog{
                margin-top: 15%  !important;
                margin-left: 15% !important;
                width: 70% !important;
              }
              .fforwardlogo{
                background: #00BCAD;
                border-radius: 50%;
                height: 100%;
                img{
                  margin-top: 15% !important;
                  margin-left: 15% !important;
                  width: 70% !important;
                }
              }
              .CatLogo{
                border-radius: 50%;
                height: 100%;
                border: 2px solid #F6D000;
                img{
                  margin-top: 28%;
                  margin-left: 7.5%;
                  width: 85% !important;
                }
              }
              .nielsenlogo{
                border-radius: 50%;
                height: 100%;
                background: black;
                img{
                  margin-top: 15%;
                  margin-left: 15%;
                  width: 70% !important;
                }
              }
            }
            .description{
              height: 70%;
              background: white;
              background: var(--cardfontcolor);
              border-radius: 0 0 15px 15px;
              .panelholder{
                height: 18%;
                padding: 15% 10px 0px 10px;
                .panelkey{
                  float: left;
                  margin-right: 10px;
                  width: 40%;
                  font-style: italic;
                }
                .panelkey::after{
                  content: ":";
                  float:right;
                  font-style:normal;
                }
                .panelvalue{
                  float: left;
                  width: 55%;
                  font-weight: bold;
                }
              }
              .adjustpadding{
                padding: 0 10px 0px 10px !important;
              }
            }
            .projImg {
              height: 60%;
              overflow: hidden;
              display: block;
              border-radius: 8px 8px 0 0;
              padding: 3%;
              background: var(--cardFrontImgBckGround);
              img {
                width: 100%;
                height: 100%;
              }
            }
            .cardDesc {
              border-radius: 0 0 15px 15px;
              width: 100%;
              height: 35%;
              background: white;
              color: black;
              text-align: center;
              .projName {
                font-size: 1.5em;
                padding-top: 5%;
                line-height: 30px;
                font-weight: bolder;
              }
              .compName {
                color: #999999;
                font-size: 13px;
                font-weight: bolder;
              }
            }
          }
          .card-back {
            transform: rotateY(180deg);
            backface-visibility: hidden;
            background: white;
            width: 100%;
            height: 100%;
            z-index: 3;
            position: absolute;
            border-radius: 15px;
            top: 0;
            left: 0;
            color: black;
            .panelHeader{
              font-weight: bold;
            }
            .panelpadding{
              padding: 5px 10px 0 10px;
            }
            .panelContent{
              font-size: 12px;
              padding: 0 10px 0 15px;
              line-height: 20px;
              font-family: 'Roboto';
            }
            .panelDescription{
              font-size: 12px;
              padding: 0 10px 0 15px;
              line-height: 20px;
              span{
                display: inline-block;
              }
            }
            h3 {
              font-size: 23px;
              padding-top: 10%;
              text-transform: uppercase;
            }
            p {
              padding: 0 20px;
            }
          }
          img {
            width: 100%;
          }
        }
      }
      .card-holder:hover .card-content {
        transform: rotateY(180deg);
      }
      .card-holder:hover + .toggle {
        opacity: 1;
      }
      .footer {
        color: #999999;
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 35%;
        margin-left: 5%;
        height: 35px;
        right: 0;
        line-height: 30px;
        i {
          margin-right: 5px;
          color: #666666;
        }
      }
      .toggle {
        right: 0;
        opacity: 0;
        transition: all 0.5s;
        bottom: -8px;
      }
    }
  }

  #client-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .image-block {
      flex: 0 0 23%;
      height: 90px;
      margin: 1%;
      text-align: center;
      .img-holder {
        width: 210px;
        height: inherit;
        margin: auto;
        .cat {
          width: 60%;
          height: 80% !important;
          margin-top: 10%;
        }
        img {
          height: inherit;
          width: 60%;
        }
      }
    }
  }
}
