#work {
  background: #f2f2f2;
  padding: 60px 0;
  padding-bottom: 0;
  padding-top: 70px;
  .section-title {
    color: #252525;
    font-size: 38px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1;
    padding: 0 10px;
    position: relative;
  }

  #work-block {
    display: flex;
    flex-wrap: wrap;
    .work-item {
      margin: 1%;
      padding: 0.5%;
      border-radius: 4px;
      position: relative;
      transition: all 0.3s;
      flex: 0 0 29%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      .work-image {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .overlay {
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        opacity: 0;
        transition: all 0.4s;
        transform: translateY(100%);
        border-radius: 4px;
        h3 {
          font-size: 23px;
          padding-top: 10%;
          text-transform: uppercase;
        }
        p {
          padding: 0 20px;
        }
      }
      img {
        width: 100%;
      }
    }

    .work-item:hover .overlay {
      opacity: 1;
      transform: none;
    }
  }

  #client-block {
    display: flex;
    flex-wrap: wrap;
    .image-block {
      flex: 0 0 25%;
    }
    // img {
    //   width: 100%;
    //   height: 100%;
    // }
    .image-block:first-child,
    .image-block:last-child {
      img {
        width: 40%;
        height: 40%;
        margin-top: 25%;
        margin-left: 25%;
      }
    }
  }

  /** Until ipad **/
  @media only screen and (max-width: 768px) {
    .mobileAdjust {
      height: 318px !important;
    }
  }
}
