nav {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    ul {
      font-size: 14px;
    }
    .nav-bar {
      width: 100%;
      .active {
        color: #00b4d9;
      }
      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end !important;
        margin-right: auto !important;
        li {
          list-style: none;
          a {
            font-weight: 700;
            color: #333;
            padding: 0 17px;
            text-transform: uppercase;
            cursor: pointer;
            line-height: 40px;
            transition: all 0.3s ease-in-out;
          }
          a:hover {
            color: #00b4d9;
          }
        }
      }
    }

    .slicknav_menu {
      border: 1px solid #00b4d9;
      font-size: 16px;

      .slicknav_btn {
        cursor: pointer;
        display: block;
        float: right;
        padding: 10px;
        position: relative;
      }

      .slicknav_icon-bar {
        display: block;
        background: #00b4d9;
        width: 1.125em;
        height: 0.125em;
        border-radius: 1px;
        margin-top: 0.188em;
      }
    }

    .slicknav_nav {
      color: #fff;
      width: 100%;
      li {
        display: block;
        line-height: 30px;
        a {
          padding: 5px 10px;
          margin: 2px 5px;
          text-decoration: none;
          color: #666;
          display: block;
        }
        a:hover {
          color: #00b4d9;
          outline: none;
          background: #f8f9fa;
        }
        .active {
          color: #00b4d9;
        }
      }
    }
  }
}
.closeMenuItem {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s ease;
}

.openMenuItem {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.5s ease;
}
#mobileMenu {
  display: none;
}

@media only screen and (max-width: 800px) {
  #mobileMenu {
    display: block;
  }
  #desktopMenu {
    display: none;
  }
}
