nav {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;

    .nav-bar {
      width: 100%;
      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end !important;
        margin-right: auto !important;
        li {
          list-style: none;
          a {
            font-weight: 700;
            color: #333;
            padding: 0 17px;
            text-transform: uppercase;
            cursor: pointer;
            line-height: 40px;
            transition: all 0.3s ease-in-out;
            text-decoration: none;
          }
          a:hover {
            color: #00b4d9;
          }
        }
      }
    }
  }
}
